<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
	<!-- Latest compiled and minified Bootstrap CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</head>
<body>
    <h1>Transcribe your voice to text </h1>
    <h3>Record your voice</h3>
    <div style="max-width: 28em;">
		<div id="controls">
			<button id="recordButton">Record</button>
			<button id="stopButton" disabled>Stop</button>
		</div>
		<div id="formats"></div>
		<pre id="log"></pre>
        <br>
        <h3>Download your record </h3> 
		<ol id="recordingsList"></ol>
	</div>
    <div id="speechContainer">
        <h3>Upload your .wav file</h3> 

        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <br>
            <h3>Convert audio to text </h3> 
            <input type="submit" id="submitButton" value="Transcribe"/>
        </form>

        <button id="get_txt">get text</button>
        
        <div id="speechTranscript">
        {% if transcript != "" %}
            <p id="txt">{{ url }}</p>
            <div id="speechTranscriptContainer">
                <h1>Results</h1>
                <p id="speechText">{{ transcript }}</p>
            </div>
        {% endif %}
        <p id="arabic"></p>
        </div>
        </div>

        <h1>Load Data from text file </h1>

        <button type="button" onclick="loadDoc()">Change Content</button>
    
        <script>
            function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "'https://raw.githubusercontent.com/sameh999/Speech-to-text-Arabic/main/results.txt'", true);
            xhttp.send();
            document.getElementById("arabic").innerHTML = xhttp.responseText;
            console.log(xhttp.responseText)
            }
        </script>>
    <!-- <script>
        $("#get_txt").click(function(){
            $.get(document.getElementById("txt").textContent, function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
                document.getElementById("arabic").textContent = data
                cons.console.log(data);
                
            });
        });
    </script> -->
    <!-- <script>    
        const filepath = 'https://raw.githubusercontent.com/sameh999/Speech-to-text-Arabic/main/results.txt'
        function readTextFile(filepath) {
        var str = "";
        var txtFile = new File(filepath);
        txtFile.open("r");
        while (!txtFile.eof) {
            // read each line of text
            str += txtFile.readln() + "\n";
            }
        return str;
        }
        var get_text = document.getElementById("get_txt");
        get_text.addEventListener("click", readTextFile);

    </script> -->


    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="{{ url_for('static', filename='js/WebAudioRecorder.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/get_text.js') }}" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>
</html>